.bg {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1260px;
  height: 100%;
}
.bg::before {
  content: '';
  background: url(blackWhite.jpg);
  background-size: cover;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
}

.container {
  position: relative;
  top: 0;
  max-width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 25px;
}

.top {
  display: flex;
  padding: 0 calc(8%);
  justify-content: space-between;
  margin-bottom: 20px;
}

.own_photo {
  content: '';
  background: url(123.jpg);
  width: 160px;
  height: 200px;
  background-size: cover;
}
.name_profession {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 135px;
}

.name,
.profession {
  margin: 0;
  padding: 0;
  padding: 15px 5px;
}

.name {
  font-size: 40px;
}
.profession {
  font-size: 32px;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.left {
  width: calc(30%);
}
.right {
  width: calc(68%);
}

.left__items {
  /* padding: 0px 25px; */
}

.title {
  opacity: 1;
  background: #777;
  color: rgb(255, 255, 255);
  border-radius: 25% 25% 0 0;
  padding: 15px 0;
  text-align: center;
  font-size: 28px;
}

.left__ul {
  display: flex;
  flex-direction: column;
  padding: 0 0 5px 55px;
}
ul,
li,
p {
  margin: 5px;
  font-size: 28px;
  color: rgb(17, 17, 17);
}

a {
  color: rgb(17, 17, 17);
}

.styles_none {
  list-style: none;
}

.right {
  background-color: #fff;
  /* margin-top: 40px; */
}
.summary_text,
.right__li {
  margin: 0 20px;
}
.right__li {
  position: relative;
}
.project_link {
  display: flex;
  justify-content: space-evenly;
  justify-content: space-around;
}
.git_icon {
  position: absolute;
  content: '';
  background: url(25231.png);
  width: 320px;
  height: 320px;
  background-size: cover;
}
